# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.windsurfrules

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Node
node_modules/
package-lock.json
